@import "font-awesome/css/font-awesome.min.css";

body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    background-color: #ecf0f9;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 480px) {

    body { 
       font-size: smaller; 
    }
 
 }

/* row */

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* End of row css */

/* accordion */

.accordion {
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.active {
    background-color: #edf7ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.panel {
    display: none;
    overflow: hidden;
}

.contracts-container {
    margin: 35px;
}

.data-header {
    color: #444;
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.data-text {
    color: rgba(0, 0, 0, 0.63);
    font-size: 14px;
    font-weight: 600;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* End of accordion css */

/* navbar */

.navbar {
    overflow: hidden;
    background-color: #263846;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: #b7c5d0;
    text-align: center;
    padding: 14px 0px 10px 0px;
    text-decoration: none;
    min-width: 170px;
    border-bottom: 4px solid #263846;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #b7c5d0;
    padding: 14px 0px 10px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    min-width: 170px;
    border-bottom: 4px solid #263846;
}

.navbar a:hover {
    background-color: #263846;
    border-bottom: 4px solid #15828e;
}

.dropdown:hover .dropbtn, .dropdown:hover {
    background-color: #263846;
}

.dropdown:hover .dropbtn {
    background-color: #263846;
    border-bottom: 4px solid #15828e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #b7c5d0;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: unset;
    background-color: #263846;
    border-bottom: 4px solid #263846;
}

.dropdown-content a:hover {
    border-bottom: 4px solid #15828e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End of navbar css */

/* icons */
.fa-angle-down{
    color:#7a8c9a
}

.panel-icon, .status-icon {
    font-size: 20px;
}

.fa-check-circle {
    color: #019699;
}

.fa-clock-o {
    color: #d73546;
}

.fa-chevron-circle-down, .fa-chevron-circle-up {
    color: #0091fd
}

/* End of icons css */